body {
    margin: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.6;
    color: #071b4e;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px
    }
}

textarea {
    resize: none;
}

/*Buttons*/

.btn-default {
    font-size: 24px;
    font-weight: 700;
    color: #071b4e;
    padding: 15px 35px;
    box-shadow: 1px 1px 10px #808080;
    margin: 10px 0;
}

.btn-crud {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;
    font-weight: 700;
    color: #fff;
    border: 3px solid #fff;
    height: 250px;
    width: 250px;
}

    .btn-crud:hover {
        background-color: #fff;
        opacity: 0.85;
        transition: .4s linear;
    }

        .btn-crud:hover
        .btn-crud-name:hover {
            cursor: pointer;
        }
/*Header*/
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
}

.header__link {
    text-decoration: none;
    color: #fff;
}

    .header__link:hover {
        text-decoration: none;
        color: #fff;
    }

/*Nav*/
.nav {
    font-size: 18px;
    text-transform: uppercase;
}

.nav__link {
    display: inline;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
    text-shadow: 5px 5px 10px black;
}

    .nav__link:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #071b4e;
        opacity: 0;
        position: absolute;
        left: 0;
        z-index: 1;
        transition: opacity .2s linear;
    }

    .nav__link:hover {
        text-decoration: none;
        font-weight: 700;
        color: #071b4e;
    }

        .nav__link:hover:after {
            opacity: 1;
        }
/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/back.jpg) no-repeat center;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    margin: 0 auto;
}

.intro__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 1;
}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 1;
}

/*All tours*/
.contant__tour-item {
    height: 250px;
    box-shadow: 0px 0px 30px #ccc;
    background: #fff;
    position: relative;
    margin: 50px 0;
    transition: box-shadow .2s linear;
}

    .contant__tour-item:hover {
        box-shadow: 0px 0px 30px 20px #071b4e;
    }

.contant__tour-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #071b4e;
}

    .contant__tour-link:hover {
        text-decoration: none;
        font-weight: 700;
        color: #071b4e;
    }

.contant__tour-image {
    width: 100%;
    max-width: 380px;
    max-height: 250px;
    float: left;
}

.contant__tour-name {
    font-size: 28px;
}

.contant__tour-description {
    float: left;
    padding: 20px 30px;
    width: 57%;
}

    .contant__tour-description h2 {
        font-weight: 700;
        text-transform: uppercase;
        line-height: 28px;
        z-index: 10;
    }

.contant__tour-info {
    position: absolute;
    bottom: 25px;
    font-weight: 600;
}

.tour-info-item {
    display: inline;
    margin-right: 30px;
}

.contant__tour-countries {
    margin-top: 15px;
}

.tour-data-price {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    color: #fff;
    height: 250px;
    width: 200px;
    background: #071b4e;
    font-size: 24px;
    font-weight: 700;
}

.tour-price {
    font-size: 60px;
}

/*Single tour*/
.tour-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.tour-image__inner {
    width: 100%;
    margin: 0 auto;
}

.tour-image__title {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

.single__tour-item {
    padding: 50px 0;
}

.single__tour-name {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: -2px;
    margin-bottom: 25px;
}

.single__tour-counties {
    font-family: 'Gotham Pro',Sans-Serif;
    color: #071b4e;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;
    max-width: 500px;
}

.single__tour-order-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.single__tour-datetime {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

/*Admin*/
.admin-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: url(../img/back_admin.jpg) no-repeat center;
    background-size: cover;
}

.admin__crud-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 100px;
}


/*Create tour*/
.tour__form {
    background-color: #fff;
    opacity: 0.92;
    border-radius: 10px;
    margin: 100px auto;
}

    .tour__form * {
        font-size: 24px;
    }

.tour__form-btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30%;
}

/*Account*/
.register-form{
    margin: 100px auto;
}