@model MVCTravelAgency.ViewModels.TourEditVM
@{
    ViewData["Title"] = "Edit Tour";
}

<div class="admin-background">
    <div class="container tour__form">
        <form enctype="multipart/form-data" asp-controller="Admin" asp-action="EditTour" method="post" class="mt-3">
           <input hidden asp-for="Id" />
           <input hidden asp-for="ExistImgName" />
           <input hidden asp-for="ExistImgLargeName" />
            @*Name*@
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            @*Description*@
            <div class="form-group row">
                <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea asp-for="Description" class="form-control" placeholder="Description" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            @*DepartureTown*@
            <div class="form-group row">
                <label asp-for="DepartureTown" class="col-sm-2 col-form-label">Departure Town</label>
                <div class="col-sm-4">
                    <input asp-for="DepartureTown" class="form-control" placeholder="Departure Town" />
                    <span asp-validation-for="DepartureTown" class="text-danger"></span>
                </div>
                @*DepartureDate*@
                <label asp-for="DepartureDate" class="col-sm-2 col-form-label">DepartureDate</label>
                <div class="col-sm-4">
                    <input asp-for="DepartureDate" class="form-control" placeholder="DepartureDate" />
                    <span asp-validation-for="DepartureDate" class="text-danger"></span>
                </div>
            </div>
            @*IsNightCrossing*@
            <div class="form-group row">
                <label asp-for="IsNightCrossing" class="col-sm-2 col-form-label">Night Crossing</label>
                <div class="col-sm-4">
                    <input asp-for="IsNightCrossing" class="form-control" />
                    <span asp-validation-for="IsNightCrossing" class="text-danger"></span>
                </div>
                @*isFavorite*@
                <label asp-for="isFavorite" class="col-sm-2 col-form-label">Is Favorite</label>
                <div class="col-sm-4">
                    <input asp-for="isFavorite" class="form-control" />
                    <span asp-validation-for="isFavorite" class="text-danger"></span>
                </div>
            </div>
            @*Countries*@
            <div class="form-group row">
                <label asp-for="Countries" class="col-sm-2 col-form-label">Countries</label>
                <div class="col-sm-10">
                    <input asp-for="Countries" class="form-control" placeholder="Countries" />
                    <span asp-validation-for="Countries" class="text-danger"></span>
                </div>
            </div>
            @*Period*@
            <div class="form-group row">
                <label asp-for="Period" class="col-sm-2 col-form-label">Period</label>
                <div class="col-sm-4">
                    <input asp-for="Period" class="form-control" placeholder="Period" />
                    <span asp-validation-for="Period" class="text-danger"></span>
                </div>
                @*Price*@
                <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-4">
                    <input asp-for="Price" class="form-control" placeholder="Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            @*Img*@
            <div class="form-group row">
                <label asp-for="Img" class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Img" class="form-control custom-file-input" accept="image/jpeg,image/png" />
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                </div>
            </div>
            @*ImgLarge*@
            <div class="form-group row">
                <label asp-for="ImgLarge" class="col-sm-2 col-form-label">Large image</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="ImgLarge" class="form-control custom-file-input" accept="image/jpeg,image/png" />
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 btn-container">
                    <button type="submit" class="btn btn-light btn-default">Edit tour</button>
                    <a asp-controller="Admin" asp-action="Index" class="btn btn-light btn-default">Cancel</a>
                </div>
            </div>
        </form>

    </div>
</div>
