@{
    ViewData["Title"] = "Admin";
}
<div class="intro">
    <div class="container">
        <div class="admin__crud-buttons">
            <a asp-controller="Admin" asp-action="CreateTour" class="btn btn-container btn-crud">
                <label class="btn-crud-name">Create tour</label>
            </a>
            <button class="btn btn-container btn-crud">Delete tour</button>
            <button class="btn btn-container btn-crud">Edit tour</button>
        </div>
    </div>
</div>
