@model List<Tour>
@{
    ViewData["Title"] = "Admin";
}

<div class="intro">
    <div class="container">
        <div class="admin__crud-buttons">
            <a asp-controller="Admin" asp-action="CreateTour" class="btn  btn-crud">
                <label class="btn-crud-name">Create tour</label>
            </a>
        </div>    
    </div>
</div>
